<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<div class="client-ui">
    <h1 class="text-center mt-3"><i class="bi bi-filetype-pdf"></i> File Converter - Client Microservice</h1>
    <p class="fs-5">Convert your text to a pdf
        <mark>instantly!</mark>
    </p>
    <p class="fw-lighter fst-italic">Hint: Changing line (with the Enter key) will create a pdf with multiple
        paragraphs.</p>
    <p class="fw-lighter fst-italic">Hint: If you have a .txt file feel free to copy and paste the content in the text area. We can also handle content from Microsoft Word, but only if it is convertible to plain text.</p>
    <form action="/txt2pdf">
        <podiv class="user-input-wrapper">
            <textarea name="input" rows="15" required placeholder="Enter your text here!"></textarea>
        </podiv>
        <div class="text-center">
            <input class="btn btn-primary mt-3" type="submit" value="Submit">
        </div>
    </form>
    <div th:replace="footer"></div>
</div>
</body>
</html>
