<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
<div class="client-ui">
    <div class="text-left mt-3">
        <button class="btn btn-primary" onClick="location.href='/'" type="button"><i class="bi bi-card-text"></i> Text to Pdf <i class="bi bi-filetype-pdf"></i></button>
    </div>
    <h1 class="text-center mt-3"><i class="bi bi-filetype-pdf"></i> PDF to Image <i class="bi bi-file-image"></i>
        Converter - Client Microservice</h1>
    <p class="fs-5">Convert your pdf to an image
        <mark>instantly!</mark>
    </p>
    <form method="post" action="/pdf2image" enctype="multipart/form-data">
        <div class="user-input-wrapper">
            <input name="file" type="file" accept="application/pdf">
        </div>
        <div class="text-center">
            <input class="btn btn-primary mt-3" type="submit" value="Submit">
        </div>
    </form>
    <div th:replace="footer"></div>
</div>
</body>
</html>
